*{
    box-sizing: border-box;
}



.container{
    padding: 4rem;
    height: 600px;
    width: 900px;
    background-color: #79a3b9;
    border: 2px solid black;
    display: grid;
    gap: 1rem;
    /* row-gap: 1rem;
    column-gap: 1rem; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-columns: repeat(3, 1fr) ;
}
.item{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a05b5b;
    border: 5px solid black;
}
/* .header, .footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start:2;
    grid-row-end: 4;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 4;
} */

@media (min-width:400px){

    .header, .footer{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .sidebar{
        grid-row-start:2;
        grid-row-end: 4;
    }
    .item3{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
  


    /* .item{
        grid-column-start: 2;
        grid-column-end: 3;
    } */
    
}

